body {
  margin: 0;
  padding: 0;
  background-color: #201f1f;
}

h1 {
  margin: 0;
  color: white;
}

#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.characters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 700px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  border: 3px solid black;
}

.card:hover {
  border: 3px solid rgb(141, 141, 141);
  cursor: pointer;
}

.cardTitle {
  width: 100%;
  height: 50px;
  background-color: rgb(179, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}

.searchTitle {
  background-color: #202020;
  width: 100%;
}

.searchMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 10px;

  input {
    width: 100%;
    max-width: 600px;
    padding: 5px 10px;
    background-color: #363434;
    border: none;
    color: white;
    font-size: 20px;
  }
}
